* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.3s;
  z-index: 1000;
}

header.scrolled {
  background: #111;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff9800;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 80px;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  max-width: 600px;
  margin: 15px auto;
}

.hero button {
  padding: 12px 30px;
  background: #ff9800;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.hero button:hover {
  background: #ffa726;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 30px;
  background: #f4f4f4;
}

.box {
  width: 30%;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}


.content {
  padding: 60px 40px;
}


@media (max-width: 768px) {
  nav ul {
    gap: 10px;
  }

  .features {
    flex-direction: column;
    gap: 20px;
  }

  .box {
    width: 100%;
  }

  .hero h1 {
    font-size: 34px;
  }
}
